<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726875231925-83lqqccbffmbpicsv67aoci3gcsph82r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726875231925-83lqqccbffmbpicsv67aoci3gcsph82r</string>
	<key>API_KEY</key>
	<string>AIzaSyDIfVkE_t21fgRfsM0iH9JnEjHhdzmVnyw</string>
	<key>GCM_SENDER_ID</key>
	<string>726875231925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eje.SOZIP</string>
	<key>PROJECT_ID</key>
	<string>sozip-45078</string>
	<key>STORAGE_BUCKET</key>
	<string>sozip-45078.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726875231925:ios:c97f76f194c090f58710fc</string>
</dict>
</plist>