<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913200932222-0mlkg3lko83t39petlbul647fo4mvp2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913200932222-0mlkg3lko83t39petlbul647fo4mvp2f</string>
	<key>API_KEY</key>
	<string>AIzaSyB20c4f3-W8xZIf5Uo697h8nkWpbSjO_nM</string>
	<key>GCM_SENDER_ID</key>
	<string>913200932222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eje.SOZIP</string>
	<key>PROJECT_ID</key>
	<string>sozip-14e55</string>
	<key>STORAGE_BUCKET</key>
	<string>sozip-14e55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913200932222:ios:c07324093af3d807973f2f</string>
</dict>
</plist>